<div class="navbar">
  &nbsp;
  <img src="/assets/sean_kayak.png" class="navimg" />
  <a class="navlink" href="/index.html">Home</a>
  <a class="navlink" href="/writing.html">Writing</a>
  <a class="navlink" href="/misc.html">Misc</a>
  <a class="navlink" href="https://github.com/SeanTang001">Github</a>
  <a class="navlink" href="https://www.linkedin.com/in/sean-tang-96a15419a/">Linkedin</a>
  <a class="navlink" href="mailto:seantang001@g.ucla.edu">Email</a>
  <!-- <a class="navlink" href="/writing.html">Writing</a> -->
  <br/><br/>
</div>
